<h1>Wallet run by Angular 4 with Electron</h1>


<form [formGroup]="form">
    <mat-tab-group>
        <mat-tab label="My Wallet">
            <input formControlName="myaddress" type="text" matInput placeholder="Address" />
            <button mat-raised-button color="primary" (click)="getMine()">Get Balance</button>
        </mat-tab>
        <mat-tab label="My Mnemonic Phrase">
            <input formControlName="myphrase" type="text" matInput placeholder="Phrase" />
            <button mat-raised-button color="primary" (click)="getM()">Get Balance</button>
        </mat-tab>
        <mat-tab label="My Brian Wallet">
            <input formControlName="username" type="text" matInput placeholder="UserName" /> password:
            <input formControlName="pwd" type="text" pwd />
            <button mat-raised-button color="primary" (click)="getBrian()">Get Balance</button>
        </mat-tab>
        <mat-tab label="Setting">
            which provider?
        </mat-tab>
    </mat-tab-group>
    <br/>
    Wallet Content
    <br/>
    <input formControlName="address" type="text" matInput placeholder="Address" disabled />
    <input formControlName="balance" type="text" matInput placeholder="Balance" disabled />
</form>
